a.btn {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/27/16/16/generic-button-1357003_960_720.png);
    display: block;
}
a.btn:hover {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/27/16/16/generic-button-1357003_960_720.png);
    
}